 html, body{  width: 100%; height: 100%; padding: 0px; margin: 0px; font-family: 'Roboto', sans-serif;}
 
 @font-face{ 
   font-family:'silo';
    src: url('../fonts/Silo-Soft-Bold.otf') format("truetype");
}
 @font-face{
     font-family:'silo_bold';
     src: url('../fonts/SohoGothicPro-Bold.otf') format("truetype");
 }
/*********************HEADER***************/
.bg-top-video{
    background: url("../img/bg_video_top.png") center center no-repeat;
    background-size: cover;
    height: 400px;
    cursor: pointer;
}

 .navbar{
    background: #0076d8;
     margin: 0;
     border: none;
     border-radius: 0;
     border-bottom: 1px solid white;
 }

 .navbar-brand img{
     height: 50px;
 }

 .navbar-brand{
     margin: 15px 0 !important;
 }

 .navbar a{
     font-family: silo;
     font-size: 20px;
     color: white;
     line-height: 30px;
     cursor: pointer;
     margin: 10px 20px;
     padding: 0px;
 }

 .navbar-default .navbar-nav>li>a{
     color: white;
     margin-left: 9px;
     margin-right: 9px;
     font-size: 14px;
     padding: 15px 7px;
 }

 .navbar a:hover{
     font-family: silo;
     font-size: 20px;
     color: #333;
     line-height: 30px;
 }

 .navbar-nav>li>a{
     line-height: 30px;
 }

 .button_client{
     background: #0076d8;
     border: 2px solid white;
     border-radius: 7px;
     padding: 1px 10px !important;
     margin-top: 22px !important;
     margin-bottom: 22px !important;
     background: url(../img/home/yasoyusuario-icon.png) center right no-repeat;
     background-size: 31px 15px;
     padding-right: 35px !important;
     font-size: 11px !important;
 }

 .button_client:hover{
     /*background: white !important;*/
     /*color: #0076d8 !important;*/
 }


 .button_email{
     background: #0076d8;
     border: 2px solid white;
     border-radius: 7px;
     padding: 1px 10px !important;
     margin-top: 22px !important;
     margin-bottom: 22px !important;
     background: url(../img/home/email-icon.png) center right no-repeat;
     background-size: 31px 15px;
     padding-right: 35px !important;
     font-size: 11px !important;
 }

 .button_email:hover{
     /*background: white !important;*/
     /*color: #0076d8 !important;*/
     /*background: url("../img/email-icon.png") center right no-repeat white !important;*/
 }

/*.navbar-default {*/
    /*background-color: #0076d8;*/
    /*border-color: #0076d8;*/
    /*min-height: 85px;*/
    /*margin-bottom: auto;*/
/*}*/
/*.navbar-default .navbar-nav>li>a {*/
    /*color: #FFF;*/
    /*padding-top: 32PX;*/
    /*font-family: silo;*/
    /*font-size: 20px;*/
/*}*/
/*.navbar-nav>li {*/
    /*float: left;*/
    /*margin-left: -2%;*/
/*}*/
/*nav .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {*/
    /*margin-right: 41px;*/
    /*margin-left: 0;*/
/*}*/
/*.navbar {*/

/*}*/
/*********************FOOTER***************/
/*********************HOME***************/

 .square_text .esquinaImg1 p {
     font-family: "silo_bold";
     font-size: 24px;
     margin-right: 12px;
     margin-bottom: 5px;
 }

 .square_text .esquinaImg2 p {
     font-size: 17px;
     color: #b1b1b1;
     text-align: right;
     margin-right: 12px;
 }

 .square_text .tituloOver h2 {
     font-family: "silo_bold";
     font-size: 30px;
     margin-right: 5px;
     margin-bottom: 15px;
 }

 .marcas{
     padding: 0px 0 70px 0;
 }

 .title_content{
     color: #000000;
     font-size: 30px;
     text-align: center;
     font-family: silo_bold;
 }

 .subtitle_content{
     color: #000000;
     font-size: 25px;
     text-align: center;
     font-family: silo_bold;
 }

 .subtitle_content_blue{
     color: #0177d9;
     font-size: 20px;
     text-align: center;
     font-family: silo_bold;
     margin-bottom: 20px;
 }

 .content_little{
     color: #000000;
     font-size: 17px;
 }

 .description{
     color: #000000;
     font-size: 17px;
 }

 .section_content{
     padding: 80px 0;
 }

 .section_content .container{
     padding-top: 0;
 }

 .col-5{
     width: 20%;
     float: left;
     border-right: 2px solid #0177d9;
     min-height: 200px;
 }

.min-height-150 .col-5{
    min-height: 150px;
    padding-top: 20px;
}

 .col-5:last-child {
     border-right: 2px solid transparent;
 }

.dumb_rectangle{
    border-left: 2px solid #0177d9;
    border-top: 2px solid #0177d9;
    border-right: 2px solid #0177d9;
    height: 35px;
    margin-bottom: 20px;
}

.w-100{
    width: 100%;
    display: inline-block;
}

.prod-first1 h2{
    font-family: silo_bold;
    font-size: 26px;
}










 .h-sec1 {
	background: url("../img/home/slider1.jpg") center center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%; 
	min-height: 500px;
}
.h-sec2 {
	background: url("../img/home/slider2.jpg") center center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%; 
	min-height: 500px;
}

.textoPrueba {
    /* text-align: left; */
    position: absolute;
    bottom: 0;
    right: 0;
}
.h-sec3 {
	background: url("../img/home/slider3.jpg") center center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%; 
	min-height: 500px;
}
.mapa {
	background: url("../img/home/mapa-america-mexico.gif") center center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%; 
	min-height: 500px;
}
.texto{
	padding-top: 120px;
	text-align: center;
	color: white;
}
.titulo1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 7px;
    font-family: lino;
}
.titulo2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.titulo3 {
    font-size: 17px;
}
.bx-wrapper {
    position: relative;
    margin-bottom: -6px !important;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 0px solid #fff;
    background: #fff;
}
.producto1 .mask, .producto1 .content {
    width: auto;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0;
}
.producto .mask, .producto .content {
    width: auto;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0;
}
.producto .mask1, .producto .content {
    width: auto;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0;
}
.producto .mask2, .producto .content {
    width: auto;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0;
}
.producto .mask3, .producto .content {
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0;
}

.tituloOver {
    font-weight: 700;
    font-size: 30px;
    color: white;
    font-family: silo;
}

.producto a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.producto a.info:hover {
    box-shadow: 0 0 10px #000;
}
.prod-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.prod-first1 img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.prod-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: url(../img/home/ejecutiva-on.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(19, 19, 19, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: white;
}
.prod-first .mask1 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: url(../img/home/econtinua-on.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(19, 19, 19, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: white;
}
.prod-first .mask2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: url(../img/home/consultoria-on.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(19, 19, 19, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: white;
}
.prod-first1 .mask3 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    
    background-size: cover;
    background-color: rgba(55, 55, 55, 0.8);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: white;
}
.prod-first .mask3:active {
  
}
.prod-first1 h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-top: 150px;
    padding-left: 5%;
    margin-bottom: -120px;
}
.prod-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 1;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   padding-top: 150px;
   padding-left: 5%;
}
.prod-first1 p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding-left: 7%;
    padding-right: 18%;
    padding-top: 0px;
}
.prod-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 1;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.prod-first:hover img {
   -webkit-transform: scale(1.0,1.0);
   /*-moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);*/
}
.prod-first1:hover img {
   -webkit-transform: scale(1.0,1.0);
   /*-moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);*/
}
.prod-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.prod-first1 a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.prod-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.prod-first:hover .mask1 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.prod-first:hover .mask2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.prod-first1:hover .mask3 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.prod-first1:hover h2, .prod-first1:hover p, .prod-first1:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    /* -webkit-transform: translateY(0px); */
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    /* transform: translateY(0px); */
}

.prod-first:hover h2,
.prod-first:hover p,
.prod-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.prod-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
   padding-left: 5%;
   padding-right: 5%;
}
.prod-first1:hover p {
    /* -webkit-transition-delay: 0.1s; */
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 15.1s;
    padding-left: 15%;
    padding-right: 15%;
}
.subrayo{
	text-decoration: underline;
}
.sec6-1{
	font-size: 20px;
}
.prod-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.custom-counters .count_number {
    border: 3px solid #fa3c3c;
    border-radius: 50%;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 120px;
    margin-bottom: 5px;
    width: 120px;
    height: 120px;
}
/*sec1*/
.sec1{
	padding-top: 0px;
}
.sec1 img{
	width: 100%;
}
.sec1 .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.sec1 .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
/*sec2*/
.imgPrueba{
  background: url("../img/home/ejecutiva.jpg") center center no-repeat;
  background-size: cover;
  width: 100%; 
  min-height: 500px;
}
.imgPrueba2{
  background: url("../img/home/econtinua.jpg") center center no-repeat;
  background-size: cover;
  width: 100%; 
  min-height: 500px;
}
.imgPrueba3{
  background: url("../img/home/consultoria.jpg") center center no-repeat;
  background-size: cover;
  width: 100%; 
  min-height: 500px;
}
.sec2{
	background: #f5f5f5;
	padding-bottom: 50px;
    padding-top: 50px;
}
.titulo1Nosotros {
    color: white;
    font-size: 25px;
}
.titulo2Nosotros {
    color: white;
    font-size: 40px;
    font-weight: 700;
}
 .titulo_interior {
     color: white;
     font-size: 40px;
     font-weight: 700;
     font-family: silo;
     margin: 0;
     padding: 140px 0;
 }
.sec2Nosotros{
	padding-bottom: 15px;
	padding-top: 10px;
}
.circulosEspacio{
	padding-top: 100px;
}
.counter {
    display: table-cell;
    margin: 1.5%;
    font-size: 30px;
    background-color: transparent;
    width: 138px;
    border-radius: 50%;
    height: 140px;
    vertical-align: middle;
    border: 2px #0076d8 solid;
    text-align: center;
    font-weight: 700
}
.count1{
    font-size: 16px;
    width: 200px;
    text-align: center;
    padding-left: 2%;
    font-weight: 600;
}
.espacioCircular{
    padding-top: 15px;
}

.esquinaGrande{
	position: absolute;
	top: 100px;
	color: white;
}

.esquinaImg1 {
    font-size: 20px;
    color: white;
}
.esquinaImg2 {
    font-size: 10px;
    color: white;
}
/*sec3*/
.sec3Contacto {
	background: url("../img/home/contacto-bg-img.jpg") center center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%; 
	min-height: 500px;
	vertical-align: top;
  margin-top: -6px;
}
.tituloPreg{
	padding-top: 40px;
	text-align: center;
}
.tituloPreg1 {
    color: white;
    font-size: 33px;
    padding-top: 40px;
    font-family: silo_bold;
}
.tituloPreg2{
	color: white;
	font-size: 17px;
	padding-top: 40px;
}
.formPreg{
	padding-top: 10px;
	text-align: center;
}

.formulario .col-sm-12 > .col-sm-6{
    padding-right: 15px;
    padding-left: 15px;
}

 .formulario .col-sm-12{
     padding-right: 15px;
     padding-left: 15px;
 }

input, select, textarea {
    width: 100% !important;
    padding: 1px 20px;
    margin: 10px 0px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 8px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    padding: 17px 10px 17px 10px;
    color: white;
}

 select option{
     color: black;
 }

 textarea{
     border-radius: 20px;
     min-height: 120px;
 }

p label 	{ display: block;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input.boton {
    /* font-family: 'gotham-bold'; */
    width: 240px;
    background: #0076d8;
    color: white;
    font-size: 20px;
    height: 52px;
    border: aliceblue;
    /* FONT-WEIGHT: 700; */
}
/*footer*/
footer {
	background: #333333;
	color: #fff;
	min-height: 200px;
}
.sec-footer a {
    color: #fff;
    text-decoration: none;
}
.footerColor{
    color: #0076d8;
    text-decoration: none;
}
.futurite{
    color: #0076d8;
    text-decoration: none;
}
.metodika{
    color: #c2c600;
    text-decoration: none;
}
footer a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}
.formulario{
	padding-left: 100px;
}
/*.textFooter{
	color: white;
}
.sec-footer{
	height: 200px;
}*/


@media (max-width: 1400px) and (min-width: 990px) {
  
	.h-sec1 {
		background: url("../img/home/slider1.jpg") center center no-repeat;
		background-size: cover;
		display: inline-block;
		width: 100%; 
		min-height: 400px;
	}
	.h-sec2 {
		background: url("../img/home/slider2.jpg") center center no-repeat;
		background-size: cover;
		display: inline-block;
		width: 100%; 
		min-height: 400px;
	}
	.h-sec3 {
		background: url("../img/home/slider3.jpg") center center no-repeat;
		background-size: cover;
		display: inline-block;
		width: 100%; 
		min-height: 400px;
	}
}
@media (max-width: 989px) and (min-width: 768px) {}
@media (max-width: 767px) and (min-width: 480px) {}
@media (max-width: 479px) and (min-width: 0px) {

}
/*******************************
************************************************
******************************************
**********************************
*************NOSOTROS**********************************************************************
*******************************************************************************************************/
	.textoPruebaNosotros {
      text-align: center;
      bottom: 0;
      padding-top: 20px;
  }
  .esquinaImg1Nosotros {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
  }
  .icnos3{
      padding-top: 50px;
  }
  .icnos3 .thumbnail {
      display: block;
      padding: 4px;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      -webkit-transition: border .2s ease-in-out;
      -o-transition: border .2s ease-in-out;
      transition: border .2s ease-in-out;
  }
  .m {
      padding-top: 30px;
      background: #0079db;
  }
  .sec-texto{
      background: #f5f5f5;
      padding-top: 10px;
      padding-bottom: 30px;
  }
  .imagenesTrasladadas .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
  }
  .imagenesTrasladadas img{
      width: -webkit-fill-available;
  }
  .textoTraslado {
      font-size: 20px;
      font-family: silo;
      color: #0079db;
      text-align: center;
      padding-top: 20%;
  }
  .newNosotrosN{
      padding-top: 60px;
  }
  .img1Numeros{
      text-align: center;
  }
  .num1ImagenNosotros {
      font-size: 20px;
      position: absolute;
  }
  .container{
      padding-top: 50px;
  }
  .mmmmm{
		background:#0079db; 
		min-height: 450px;
	}
  .sec4NosotrosNos {
      padding-top: 120px;
      background: #f5f5f5;
  }
	.m .container-fluid {
	    padding-right: 100px;
	    padding-left: 100px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.imgOverlay
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/kinedu-off1.png) no-repeat;
	}
	.imgOverlay:hover {
		background: url(../img/nosotros/kinedu-on-img1.png) no-repeat;
	}

	.imgOverlay1
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/advenio-off-img.png) no-repeat;
	}
	.imgOverlay1:hover {
		background: url(../img/nosotros/advenio-on-img.png) no-repeat;
	}

	.imgOverlay2
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/uerre-off.png) no-repeat;
	}
	.imgOverlay2:hover {
		background: url(../img/nosotros/uerre-on-img.png) no-repeat;
	}

	.imgOverlay3
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/unid-off.png) no-repeat;
	}
	.imgOverlay3:hover {
		background: url(../img/nosotros/unid-on-img.png) no-repeat;
	}

	.imgOverlay4
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/iesalud-off.png) no-repeat;
	}
	.imgOverlay4:hover {
		background: url(../img/nosotros/iesalud-on-img.png) no-repeat;
	}
	.imagenesCirculo .col-sm-2 {
	    width: 17.666667%;
	}
.imagenesCirculo .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width:100%;
    height: auto;
}
.cirTexto{
	color: #0079db;
	font-weight: 700;
	font-size: 20px;
	text-align: start;
}
.cirTexto1{
	font-size: 14px;
	text-align: start;
}
.sec3Anti{
	padding-bottom: 50px;
}
.imagenesCirculo{
	text-align: center;
}

.h-nosotros {
	background: url("../img/nosotros/banner1.jpg") center center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%; 
	min-height: 400px;
}

 .top_header {
     display: inline-block;
     width: 100%;
 }

 .top_header .container{
    padding-top: 0;
 }

 .bg_educacion_continua{
     background: url("../img/home/educacion-continua-banner-img.jpg") center center no-repeat;
     background-size: cover;
 }

 .bg_educacion_ejecutiva{
     background: url("../img/educacion_ejecutiva/educacion-ejecutiva-banner-img.jpg") center center no-repeat;
     background-size: cover;
 }

 .bg_educacion_ejecutiva big-font {
     font-size: 55px;
 }

.sec3{
	background: #0079db;
	width: 100%; 
	min-height: 100px;
}
.parrafoNosotros1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.parrafoNosotros1-1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.parrafoNos{
	font-family: lino;
	font-size: 20px;
}
.nosotrosImagen{
	text-align: center;
}

.nosotrosImagen img{
	text-align: center;
}
.sec3Texto {
    color: black;
    position: absolute;
    top: 100px;
    font-weight: 700;
    font-size: 60px;
    font-family: silo;
}
.sec4{
	padding-top: 40px;
	padding-bottom: 40px;
}
.sec4Texto{
	text-align: center;
	font-weight: 700;
	font-size: 22px;
}
/*.navbar-nav>li {*/
    /*float: left;*/
    /*margin-left: 10px;*/
/*}*/
.imagenNueva{
	background: url("../img/home/ejecutiva.jpg") center center no-repeat; 
	width: 100%;
	height: 100%;
}

.soluciones_corporativas{
    padding: 50px 0 80px 0;
}

.soluciones_corporativas .container{
    padding-top: 0;
}

.soluciones_corporativas .col-md-3{
    padding: 0 15px;
 }

.soluciones_corporativas .logo_bussiness{
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 200px;
}

.licenciatura{
    background: #f5f5f5;
    padding: 50px 0 80px 0;
}

.licenciatura .container{
    padding-top: 0;
}

.licenciatura .col-md-4{
    padding: 0 15px;
}

 .licenciatura .logo_bussiness{
     margin: 0 auto;
     display: block;
     width: 100%;
     max-width: 200px;
 }

 .licenciatura .subtitle_content{
     color: black;
     font-size: 20px;
     text-align: center;
     font-family: silo_bold;
     margin-bottom: 20px;
 }

 .licenciatura .content_little{
     color: #000000;
     font-size: 17px;
     margin: 0;
 }

 .soluciones_corporativas .container{
     padding-top: 0 !important;
 }

 .soluciones_corporativas .servicio{
    margin-bottom: 50px;
 }

 .soluciones_corporativas .servicio img{
     width: 100%;
     max-width: 160px;
     display: block;
     margin: 0 auto;
 }

 .soluciones_corporativas .servicio .title_area{
    font-family: "silo_bold";
     font-size: 17px;
     color: black;
     width: 100%;
     text-align: center;
     margin-top: 25px;
     margin-bottom: 0;
 }

 .soluciones_corporativas .servicio .little_area {
     font-family: "silo_bold";
     font-size: 11px;
     color: black;
     width: 100%;
     text-align: center;
     margin-top: 0px;
 }

 .section-top-video .container{
     padding-top: 0;
 }

 .section-top-video {
     background: url(../img/home/slider-1-img.jpg) center center no-repeat;
     background-size: cover;
     color: white;
     padding: 70px 0;
 }

 .section-top-video .title {
     font-size: 65px;
     font-family: silo;
     margin: 0;
     line-height: 60px;
 }

 .section-top-video .subtitle {
     font-size: 33px;
     font-family: silo;
     margin: 0;
 }

 .section-top-video .little_subtitle {
     font-size: 19px;
     font-family: silo;
     margin: 0;
 }

 .bx-wrapper img {
     margin: 0 auto;
 }

 .bx-wrapper{
     box-shadow: none !important;
 }

 .see_more{
    padding: 0 5%;
     color: white;
     font-weight: 100;
     font-size: 17px;
 }

 .see_more:hover{
     color: white;
     font-weight: 100;
     font-size: 17px;
 }

 .play_button{
     height: 90px;
     margin: 20px 0 0px 0;
     cursor: pointer;
 }

 .marcas .bx-wrapper .bx-pager{
     padding-top: 0;
     bottom: -10px;
 }

 .marcas .bx-wrapper img{
     margin: 50px auto;
     display: block;
 }

 .marcas .bx-wrapper img {
     margin: 50px auto;
     display: block;
 }

 @media (max-width: 765px) and (min-width: 0px){
     .navbar-brand img {
         height: 30px !important;
     }

     .navbar-brand{
        height: 30px;
         margin: 10px 0 !important;
     }
     .navbar-nav>li>a, .navbar-nav>li>a:hover{
         line-height: 20px;
         margin: 0;
         padding: 10px 9px !important;
     }
 }

@media (max-width: 1400px) and (min-width: 990px) {
	.h-nosotros {
		background: url("../img/nosotros/banner1.jpg") center center no-repeat;
		background-size: cover;
		display: inline-block;
		width: 100%; 
		min-height: 300px;
	}
	.m .container-fluid {
	    padding-right: 70px;
	    padding-left: 70px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.esquinaImg {
	    position: absolute;
	    top: 430px;
	    text-align: right;
	    padding-left: 240px;
	}
}

@media (max-width: 1080px) and (min-width: 1001px) {

}

@media (max-width: 1000px) and (min-width: 768px) {
 
  .sec3Texto {
      color: black;
      position: absolute;
      top: 100px;
      font-weight: 700;
      font-size: 47px;
  }
  .imagenesCirculo .col-sm-2 {
      width: 29.888888%;
  }


}

@media (max-width: 767px) and (min-width: 668px) {}

@media (max-width: 667px) and (min-width: 321px) {
    /*.navbar-brand {*/
    /*float: left;*/
    /*height: 50px;*/
    /*padding: 0px 15px;*/
    /*font-size: 18px;*/
    /*line-height: 20px;*/
    /*margin-top: -52px;*/
/*}*/
    .parrafoNosotros1 {
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        font-family: silo;
    }
    .parrafoNos {
        font-family: lino;
        font-size: 20px;
        text-align: justify;
    }
    /*.navbar-toggle {*/
        /*position: relative;*/
        /*float: right;*/
        /*padding: 9px 10px;*/
        /*margin-top: 20px;*/
        /*margin-right: 15px;*/
        /*margin-bottom: 8px;*/
        /*background-color: transparent;*/
        /*background-image: none;*/
        /*border: 1px solid transparent;*/
        /*border-radius: 4px;*/
    /*}*/
      /*.navbar-default .navbar-brand {*/
        /*color: #777;*/
    /*}*/
    /*.nav>li {*/
        /*position: relative;*/
        /*display: inline-table;*/
        /*padding: 6px;*/
    /*}*/
    .sec3Texto {
        color: black;
        position: absolute;
        top: 60px;
        font-weight: 700;
        font-size: 40px;
    }
    .formulario {
        padding-left: 0px;
    }
    .esquinaImg {
        position: absolute;
        top: 349px;
        text-align: right;
        padding-left: 180px;
    }
    .ImgCambios {
        padding-top: 0px;
        font-size: 16px;
        margin-top: -92px;
    }
    .prod-first1 h2 {
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 1;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        padding-top: 82px;
        padding-left: 13%;
        font-size: 10px;
    }
    .prod-first1 p {
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(20px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 1;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        padding-left: 2%;
        padding-right: 0%;
        font-size: 7px;
    }
    .espacioCircular {
      padding-top: 15px;
      width: 144px;
      text-align: center;
    }
    .m .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    } 
    .imgOverlay {
      width: 225px;
      height: 225px;
      background: url(../img/nosotros/kinedu-off1.png) no-repeat;
      margin-left: 40px;
    }

    .imagenesCirculo .col-sm-2 {
        width: 100.666667%;
    }
    .cirTexto1 {
        font-size: 14px;
        text-align: start;
        text-align: justify;
    }
    .imgOverlay1 {
        width: 225px;
        height: 225px;
        background: url(../img/nosotros/advenio-off-img.png) no-repeat;
        margin-left: 50px;
    }
    .imgOverlay2 {
        width: 225px;
        height: 225px;
        background: url(../img/nosotros/uerre-off.png) no-repeat;
        margin-left: 50px;
    }
    .imgOverlay3 {
        width: 225px;
        height: 225px;
        background: url(../img/nosotros/unid-off.png) no-repeat;
        margin-left: 50px;
    }
    .imgOverlay4 {
        width: 225px;
        height: 225px;
        background: url(../img/nosotros/iesalud-off.png) no-repeat;
        margin-left: 50px;
    }
    .esquinaImgEje {
      position: absolute;
      top: 328px;
      text-align: right;
      padding-left: 156px;
    }
    .sec2 {
      background: #f5f5f5;
      padding-bottom: 50px;
      padding-top: 0px;
  }
 
}

@media (max-width: 320px) and (min-width: 0px) {
  /*.navbar-brand {*/
    /*float: left;*/
    /*height: 50px;*/
    /*padding: 0px 15px;*/
    /*font-size: 18px;*/
    /*line-height: 20px;*/
    /*margin-top: -52px;*/
/*}*/
  .parrafoNosotros1 {
      text-align: center;
      font-weight: 700;
      font-size: 50px;
      font-family: silo;
  }
  .esquinaImgEje {
      position: absolute;
      top: 301px;
      text-align: right;
      padding-left: 155px;
      /* font-size: 10px; */
  }
    .prod-first1 p {
        /* -webkit-transform: translateY(100px); */
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(20px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 1;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        /* transition: all 0.2s linear; */
        /* padding-left: 7%; */
        /* padding-right: 18%; */
        /* padding-top: 0px; */
        font-size: 7px;
        /* padding-top: 20px; */
    }
  .esquinaImg1 {
      font-size: 15px;
      color: white;
  }
	/*.navbar-brand {*/
	    /*float: none;*/
	    /*height: 50px;*/
	    /*padding: 15px 15px;*/
	    /*font-size: 18px;*/
	    /*line-height: 20px;*/
	/*}*/
	.count1 {
	    font-size: 15px;
	    width: 200px;
	    text-align: start;
	    padding-left: 25px;
	}
  .ImgCambios{
  		padding-top: 0px;
  		font-size: 16px;
  	}
  .m .container-fluid {
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.sec3Texto {
	    color: black;
	    position: absolute;
	    top: 100px;
	    font-weight: 700;
	    font-size: 35px;
	}
	.imagenesCirculo .col-sm-2 {
	    width: 100.666667%;
	}
  /*.nav>li {*/
	    /*position: relative;*/
	    /*display: inline-table;*/
	        /*padding: 6px;*/
	/*}*/
	.imgOverlay {
	    width: 225px;
	    height: 225px;
	    background: url(../img/nosotros/kinedu-off1.png) no-repeat;
	    margin-left: 40px;
	}
	.imgOverlay1
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/advenio-off-img.png) no-repeat;
		margin-left: 40px;
	}
	.imgOverlay2
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/uerre-off.png) no-repeat;
		margin-left: 40px;
	}
	.imgOverlay3
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/unid-off.png) no-repeat;
		margin-left: 40px;
	}
	.imgOverlay4
	{
		width: 225px;
		height: 225px;
		background: url(../img/nosotros/iesalud-off.png) no-repeat;
		margin-left: 40px;
	}
  .prod-first h2 {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      transform: translateY(-100px);
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      padding-top: 10px;
      padding-left: 5%;
      font-size: 25px;
  }

  .prod-first1 h2 {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      transform: translateY(-100px);
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      padding-top: 89px;
      padding-left: 6%;
      margin-bottom: -120px;
      font-size: 18px;
  }
    .espacioCircular {
        padding-top: 15px;
        width: 127px;
        text-align: center;
        padding-left: 0px;
    }
    .formulario {
        padding-left: 0px;
    }
}