
 @font-face{ 
   font-family:'silo';
    src: url('../fonts/Silo-Soft-Bold.otf') format("truetype");
}

 @font-face{
     font-family:'silo_bold';
     src: url('../fonts/SohoGothicPro-Bold.otf') format("truetype");
 }

 @font-face{
     font-family:'silo_regular';
     src: url('../fonts/SohoGothicPro-Regular.otf') format("truetype");
 }

 html, body{
     width: 100%;
     height: 100%;
     padding: 0px;
     margin: 0px;
     font-family: 'silo', sans-serif;
 }

 .modal.show .modal-dialog {
    padding-top: 65px;
 }

 .pd0 {
     padding: 0;
 }

 .nav_icon{
     height: 60px;
 }

 .navbar{
     background: #0077dd;
     background-color: #0077dd !important;
     position: fixed;
     width: 100%;
     z-index: 99999;
 }

 .navbar-light .navbar-nav .nav-link {
     color: white;
     font-size: 15px;
 }

 .navbar .button_cliente{
     background: transparent;
     border: 2px solid white;
     padding: 6.5px !important;
     border-radius: 10px;
     background: url(../img/usuario_on.png) center right no-repeat transparent;
     background-size: 51px 25px;
     font-size: 13px !important;
     margin: 2px 0;
     padding-right: 39px !important;
 }

 .navbar .button_cliente:hover{
     /*background: white;*/
     /*color: #0077dd !important;*/
 }

 .navbar .button_email{
     background: transparent;
     border: 2px solid white;
     padding: 6.5px !important;
     border-radius: 10px;
     background: url(../img/correo_off.png) center right no-repeat transparent;
     background-size: 51px 25px;
     font-size: 11px !important;
     margin: 2px 0;
     padding-right: 39px !important;
 }

 .navbar .nav-item{
     margin: 0 5px;
 }


/* TOP SECTION */
 .section-top-video{
     /*background: url("../img/home/slider-1-img.jpg") center center no-repeat;*/
     /*background-size: cover;*/
     color: white;
     padding: 150px 0;
 }

 .section-top-video .play_button{
     height: 90px;
     margin: 20px 0 0px 0;
     cursor: pointer;
 }

 .section-top-video .title{
     font-size: 65px;
     font-family: silo;
     margin: 0;
     line-height: 60px;
 }

 .section-top-video .subtitle{
     font-size: 45px;
     font-family: silo;
     margin: 0;
     line-height: 50px;
 }

 .section-top-video .little_subtitle{
     font-size: 19px;
     font-family: silo;
     margin: 0;
     margin-top: 10px;
 }



/*TYPES*/
 .section_types .bg-1{
     background: url("../img/home/eejecutiva-off-img.jpg") center center no-repeat;
     background-size: cover;
     min-height: 500px;
 }

 .section_types .bg-2{
     background: url("../img/home/econtinua-off-img.jpg") center center no-repeat;
     background-size: cover;
     min-height: 500px;
 }

 .section_types .bg-3{
     background: url("../img/home/consultoria-off-img.jpg") center center no-repeat;
     background-size: cover;
     min-height: 500px;
 }


 .section_types .section_off{
     bottom: 0;
     right: 0;
     position: absolute;
     width: 100%;
     margin: 25px 15px;
 }

.section_types .section_off .title_off{
    font-family: "silo_bold";
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: right;
}

 .section_types .section_on .see_more{
     font-family: Arial;
     font-size: 17px;
     color: #b1b1b1;
     margin: 0;
     padding: 0;
     text-align: right;
     display: inline-block;
     color: white;
     text-decoration: none;
 }

 .section_types .section_on .see_more:hover {
     color: white;
     text-decoration: none;
 }

 .section_types .section_on{
     height: 500px;
 }

 .section_types .section_on .title_on{
     color: white;
     font-family: silo_bold;
     font-size: 26px;
 }

 .section_types .section_on .description{
     color: white;
     font-family: Arial;
     font-size: 16px;
     line-height: 18px;
 }


 .section_types .section_on, .section_types .section_off {
     -webkit-transition: opacity .2s; /* Safari */
     transition: opacity .2s;
 }

 .section_types .section_on{
     opacity: 0;
     background: #005dcfb8;
     padding: 0 15px;
     padding-top: 100px !important;
 }

 .section_types .bg-1:hover .section_off,  .section_types .bg-2:hover .section_off,  .section_types .bg-3:hover .section_off{
     opacity: 0;
 }

 .section_types .bg-1:hover .section_on, .section_types .bg-2:hover .section_on, .section_types .bg-3:hover .section_on{
     opacity: 1;
 }

.que_es_talisis{
    background: url("../img/home/queestalisis-img.jpg") center center no-repeat;
    background-size:cover;
}

.que_es_talisis .content_section{
    background: #333333d1;
    padding: 90px 0 90px 0;
}

 .que_es_talisis .content_section .title{
     color: white;
     font-family: silo_bold;
     font-size: 26px;
 }

 .que_es_talisis .content_section .description{
     color: white;
     font-family: silo_regular;
     font-size: 18px;
     margin-bottom: 8px;
 }

 .empresas_confian_nosotros{
     padding: 65px 0;
 }

 .empresas_confian_nosotros .bx-wrapper .bx-pager{
     padding-top: 0;
     bottom: -10px;
 }

 .empresas_confian_nosotros .bx-wrapper img{
     margin: 50px auto;
     display: block;
     cursor: pointer;
 }

 .empresas_confian_nosotros .title{
     color: black;
     font-family: silo_bold;
     font-size: 26px;
     margin-bottom: 30px;
 }

.empresas_confian_nosotros .bx-wrapper{
    box-shadow: none;
    margin: 0;
}

.bg-gray{
    background: #f5f5f5;
}

.alcance_proyectos{
    padding: 65px 0;
}

.alcance_proyectos .section_circle{
    margin-bottom: 0px;
}

.alcance_proyectos .title{
    color: black;
    font-family: silo_bold;
    font-size: 26px;
    margin-bottom: 30px;
}

.alcance_proyectos .total_proyectos{
    width: 130px;
    line-height: 120px;
    border: 3px solid #0076dc;
    border-radius: 1000px;
    font-size: 28px;
    font-family: silo_bold;
    margin: 0 auto;
    background: #0076dc;
    color: white;
}

 .alcance_proyectos .content_proyecto{
     font-family: silo_bold;
     font-size: 13px;
     line-height: 15px;
     margin-top: 13px;
     text-transform: uppercase;
 }

 .contacto{
     background: url("../img/home/contacto-bg-img.jpg") center center no-repeat;
     background-size:cover;
     padding: 70px 0 70px 0;
 }

 .contacto .title{
     color: white;
     font-family: silo_bold;
     font-size: 26px;
 }

 .contacto .content {
     color: white;
     font-family: silo_regular;
     font-size: 19px;
 }

 .contacto input, .contacto select{
     background: transparent;
     color: white;
     font-family: Arial;
     width: 100%;
     border: 1px solid white;
     padding: 15px;
     border-radius: 1000px;
     margin-bottom: 15px;
     text-align: left;
     outline: none;
 }

 select option {
     color: black;
 }

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
     color: white;
 }

 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: white;
 }
 ::-moz-placeholder { /* Firefox 19+ */
     color: white;
 }
 :-ms-input-placeholder { /* IE 10+ */
     color: white;
 }
 :-moz-placeholder { /* Firefox 18- */
     color: white;
 }

 .contacto textarea{
     background: transparent;
     color: white;
     font-family: Arial;
     width: 100%;
     border: 1px solid white;
     padding: 15px;
     border-radius: 35px;
     margin-bottom: 15px;
     height: 150px;
     text-align: left;
     outline: none;
     resize: none;
 }

 .contacto textarea::-webkit-input-placeholder, .contacto textarea::-moz-placeholder, .contacto textarea:-ms-input-placeholder, .contacto textarea:-moz-placeholder {
     color: white;
 }

 .contacto .button_enviar{
     background: #0077dd;
     border: 0;
     color: white;
     font-family: silo_regular;
     font-size: 16px;
     padding: 15px 60px;
     border-radius: 1000px;
     cursor: pointer;
     outline: none;
     margin-top: 55px;
 }


 footer{
     background: #343434;
     padding: 40px 0px 40px 0px;
 }

 footer .link_navegacion{
     display: inline-block;
     color: white;
     font-size: 17px;
     font-family: silo_regular;
     text-decoration: none;
     margin-bottom: 9px;
 }

 footer .link_navegacion:hover {
    color: #0178de;
 }

 footer .link_navegacion.no_hover:hover {
    color: white;
 }

 footer .info_link_navegacion{
     color: #0064af;
     font-family: Arial;
     font-size: 15px;
     text-decoration: none;
 }

 footer .address_navegacion{
     color: white;
     font-family: Arial;
     font-size: 15px;
     margin-bottom: 5px;
 }

 .subfooter{
     color: white;
     font-size: 11px;
     font-family: Arial;
     background: #343434;
 }

 .subfooter .futurite{
     color: #2c79ed !important;
     cursor: pointer;
 }

 .subfooter .metodika{
     color: #fcc200 !important;
     cursor: pointer;
 }

 .subfooter .content {
     padding-bottom: 10px;
     padding-top: 10px;
     margin: 0;
 }



 .top_header_interior{
     padding: 140px 0;
     padding-top: 200px;
 }

 .bg-nosotros{
     background: url("../img/nosotros/nosotros-banner-img.jpg") center center no-repeat;
     background-size:cover;
 }

 .top_header_interior .title{
     color: white;
     font-size: 40px;
     font-weight: 700;
     font-family: silo;
     margin: 0;
 }


 .crecimiento_empresa{
     padding: 60px 0 50px 0;
 }

 .crecimiento_empresa .title{
     color: black;
     font-family: silo_bold;
     font-size: 30px;
     margin-bottom: 30px;
 }

 .crecimiento_empresa .title2{
    color: black;
    font-family: silo_bold;
    font-size: 26px;
    margin-bottom: 30px;
}

 .crecimiento_empresa .content{
     color: black;
     font-family: silo_regular;
     font-size: 19px;
 }

 .crecimiento_empresa .subtitle{
     color: black;
     font-family: silo;
     font-size: 26px;
     margin-bottom: 30px;
 }

 .crecimiento_empresa .servicio_colaboradores img{

 }

 .crecimiento_empresa .servicio_colaboradores p{
     color: black;
     font-family: "silo_bold";
     font-size: 19px;
     margin-top: 20px;
 }



.blue_slogan{
    background: url("../img/nosotros/dospuntos-gpc.png") center center no-repeat #0077dd;
    background-size:contain;
}

.blue_slogan .content{
    font-size: 45px;
    margin: 0;
    padding: 140px 0;
    text-align: center;
}



.servicios_metodologia{
    background: #f5f5f5;
    padding: 45px 0;
}

.servicios_metodologia .content{
    color: black;
    font-family: silo_bold;
    font-size: 26px;
    margin: 0;
}


.consultoria .prodution .sec1 {
    background: #0083f5;
    color:white;    
}

.consultoria .prodution .sec2 {
    background: #f6f5f5;
}

.consultoria .prodution .sec3, 
.consultoria .prodution .sec2,
.consultoria .prodution .sec1 {
    padding: 100px 0;
 }

.consultoria .prodution .title {
    font-family: silo_bold;
    margin-bottom: 50px;
}

.consultoria .prodution .sec3 .title, 
.consultoria .prodution .sec2 .title,
.consultoria .prodution .sec1 .title {
    font-family: silo_bold;
    font-size: 25px;
    margin-bottom: 50px;
}

 

 .consultoria .prodution .sec2 .title {
    margin-bottom: 100px;
 }

 .consultoria .prodution .list ul{
    font-family: silo_regular;
    font-size: 19px;
 }

 .consultoria .crecimiento_empresa .row .pt-4 {
    color: black;
    font-family: silo_regular;
 }

 .consultoria .content {
     padding: 25px 0;
 }

 .consultoria .bg-consultoria {
    background: url("../img/consultoria/consultoria-banner-img.jpg") center center no-repeat;
    background-size:cover;
 }


.info_types h2{
    font-size: 30px;
    color: #0177db;
    margin: 0;
    padding: 120px 0;
}

.info_types .bg-info-1{
    background: url("../img/nosotros/1.jpg") center center no-repeat;
    background-size:cover;
}

 .info_types .bg-info-2{
     background: url("../img/nosotros/2.jpg") center center no-repeat;
     background-size:cover;
 }

 .info_types .bg-info-3{
     background: url("../img/nosotros/3.jpg") center center no-repeat;
     background-size:cover;
 }

 .info_types .bg-info-4{
     background: url("../img/nosotros/4.jpg") center center no-repeat;
     background-size:cover;
 }





.soluciones_capacitacion{
    padding: 80px 0;
}

.soluciones_capacitacion .title{
    color: black;
    font-family: silo_bold;
    font-size: 26px;
    margin-bottom: 30px;
}

.soluciones_capacitacion img{
    width: 100%;
}




.socios_estrategicos{
    background: #f5f5f5;
    padding: 100px 0 70px 0;
}

.socios_estrategicos .title{
    color: black;
    font-family: silo_bold;
    font-size: 26px;
    margin-bottom: 30px;
}

 .socios_estrategicos .title_content{
    font-family: "silo_bold";
     font-size: 20px;
     color: black;
     margin: 15px 0 20px 0;
 }

 .socios_estrategicos .content{
     font-family: silo_regular;
     font-size: 14px;
     color: black;
     margin-bottom: 7px;
 }

 .socios_estrategicos .link_site{
     font-family: "Arial";
     font-size: 14px;
     color: #0078d9 !important;
     text-decoration: underline !important;
 }

 .socios_estrategicos .bg-image-1{
     margin: 0 auto;
    background: url("../img/nosotros/kinedu-off-img.png") center center no-repeat;
    background-size: contain;
     padding-bottom: 100%;
     width: 100%;
 }

 .socios_estrategicos .content_section_proyect:hover .bg-image-1{
     background: url("../img/nosotros/kinedu-on-img.png") center center no-repeat;
     background-size: contain;
 }

 .socios_estrategicos .bg-image-2{
     margin: 0 auto;
     background: url("../img/nosotros/advenio-off-img.png") center center no-repeat;
     background-size: contain;
     padding-bottom: 100%;
     width: 100%;
 }

 .socios_estrategicos .content_section_proyect:hover .bg-image-2{
     background: url("../img/nosotros/advenio-on-img.png") center center no-repeat;
     background-size: contain;
 }

 .socios_estrategicos .bg-image-3{
     margin: 0 auto;
     background: url("../img/nosotros/uerre-off-img.png") center center no-repeat;
     background-size: contain;
     padding-bottom: 100%;
     width: 100%;
 }

 .socios_estrategicos .content_section_proyect:hover .bg-image-3{
     background: url("../img/nosotros/uerre-on-img.png") center center no-repeat;
     background-size: contain;
 }

 .socios_estrategicos .bg-image-4{
     margin: 0 auto;
     background: url("../img/nosotros/unid-off-img.png") center center no-repeat;
     background-size: contain;
     padding-bottom: 100%;
     width: 100%;
 }

 .socios_estrategicos .content_section_proyect:hover .bg-image-4{
     background: url("../img/nosotros/unid-on-img.png") center center no-repeat;
     background-size: contain;
 }

 .socios_estrategicos .bg-image-5{
     margin: 0 auto;
     background: url("../img/nosotros/iesalud-off-img.png") center center no-repeat;
     background-size: contain;
     padding-bottom: 100%;
     width: 100%;
 }

 .socios_estrategicos .content_section_proyect:hover .bg-image-5{
     background: url("../img/nosotros/iesalud-on-img.png") center center no-repeat;
     background-size: contain;
 }

 .socios_estrategicos .content_section_proyect:hover .title_content {
     color: #0078d9 !important;
 }









 .bg-educacion_continua{
     background: url("../img/home/educacion-continua-banner-img.jpg") center center no-repeat;
     background-size:cover;
 }




.soluciones_corporativas{
    padding: 70px 0 50px 0;
}

.soluciones_corporativas .title{
    color: black;
    font-family: silo_bold;
    font-size: 30px;
    margin-bottom: 30px;
}

 .soluciones_corporativas .description{
     color: black;
     font-family: silo_regular;
     font-size: 19px;
 }

 .soluciones_corporativas .subtitle_content{
     color: black;
     font-family: silo_bold;
     font-size: 26px;
     margin-bottom: 30px;
 }

 .soluciones_corporativas .logo_bussiness{
    width: 100%;
     max-width: 150px;
     padding-bottom: 20px;
 }





.licenciatura{
    background: #f5f5f5;
    padding: 50px 0;
}

 .licenciatura .title{
     color: black;
     font-family: silo_bold;
     font-size: 26px;
     margin: 0;
 }

 .licenciatura .logo_bussiness{
     margin: 0 auto;
     display: block;
     width: 100%;
     max-width: 200px;
 }

 .licenciatura .subtitle_content{
     color: black;
     font-size: 20px;
     text-align: center;
     font-family: silo_bold;
     margin-bottom: 20px;
 }

 .licenciatura .content_little{
     color: #000000;
     font-size: 17px;
     margin: 0;
     font-family: silo_regular;
 }






 .soluciones_corporativas_planes{
     padding: 70px 0 70px 0;
 }

 .soluciones_corporativas_planes .title{
     color: black;
     font-family: silo_bold;
     font-size: 26px;
     margin-bottom: 30px;
 }

 .soluciones_corporativas_planes .subtitle_content_blue{
     color: #0177d9;
     font-size: 20px;
     text-align: center;
     font-family: silo_bold;
     margin-bottom: 20px;
 }

 .soluciones_corporativas_planes .dumb_rectangle{
     border-left: 2px solid #0177d9;
     border-top: 2px solid #0177d9;
     border-right: 2px solid #0177d9;
     height: 35px;
     margin-bottom: 20px;
 }

 .soluciones_corporativas_planes .content_little{
     color: #000000;
     font-size: 17px;
     margin: 0;
     font-family: silo_regular;
 }

 .soluciones_corporativas_planes .section_square{
     border-right: 2px solid #0177d9;
     min-height: 200px;
 }

 .soluciones_corporativas_planes .section_square:last-child {
     border-right: 2px solid transparent;
 }







.bg-educacion_ejecutiva{
    background: url("../img/educacion_ejecutiva/educacion-ejecutiva-banner-img.jpg") center center no-repeat;
    background-size:cover;
}

.top_header_interior big-letter{
    font-size: 52px;
}




.soluciones_corporativas_aprendizaje{
    padding: 70px 0 0px 0;
}

 .soluciones_corporativas_aprendizaje .title{
     color: #000000;
     font-size: 30px;
     text-align: center;
     font-family: silo_bold;
 }

 .soluciones_corporativas_aprendizaje .description{
     color: #000000;
     font-size: 17px;
     font-family: silo_regular;
 }

 .soluciones_corporativas_aprendizaje .subtitle_content{
     color: #000000;
     font-size: 25px;
     text-align: center;
     font-family: silo_bold;
 }

 .soluciones_corporativas_aprendizaje .title_area{
     font-family: "silo_bold";
     font-size: 17px;
     color: black;
     width: 100%;
     text-align: center;
     margin-top: 25px;
     margin-bottom: 0;
 }

 .soluciones_corporativas_aprendizaje .servicio img{
     width: 100%;
     max-width: 150px;
     display: block;
     margin: 0 auto;
 }

 .soluciones_corporativas_aprendizaje .servicio {
     margin-bottom: 50px;
 }

 .soluciones_corporativas_aprendizaje .little_area{
     font-family: "silo_bold";
     font-size: 11px;
     color: black;
     width: 100%;
     text-align: center;
     margin-top: 0px;
 }


 .soluciones_corporativas_aprendizaje .subtitle_content_blue{
     color: #0177d9;
     font-size: 20px;
     text-align: center;
     font-family: silo_bold;
     margin-bottom: 20px;
 }

 .soluciones_corporativas_aprendizaje .content_little {
     color: #000000;
     font-size: 17px;
     font-family: "Arial";
 }





 .conoce_planes{
     padding: 70px 0 70px 0;
 }

 .conoce_planes .min-height-150 div {
     min-height: 150px;
     padding-top: 20px;
 }

 .conoce_planes .min-height-150 .b-right-blue {
     border-right: 2px solid #0177d9;
 }

 .conoce_planes .min-height-150 .b-right-blue:last-child {
     border-right: 2px solid transparent;
 }

.conoce_planes .subtitle_content_blue {
    color: #0177d9;
    font-size: 20px;
    text-align: center;
    font-family: silo_bold;
    margin-bottom: 20px;
}

.conoce_planes .content_little {
    color: #000000;
    font-size: 17px;
    font-family: silo_regular;
}

.conoce_planes .subtitle_content{
    color: black;
    font-family: silo_bold;
    font-size: 26px;
    margin-bottom: 30px;
}






.modal-dialog{
    font-family: Arial;
}

.play_button{
    margin: 0 auto;
    cursor: pointer;
}




.slider_top .slider_1{
    background: url("../../assets/img/home/slider1.jpg") center center no-repeat;
    background-size: cover;
    /*height: 500px;*/
    width: 100%;
}

 .slider_top .slider_2{
     background: url("../../assets/img/home/slider-1-img.jpg") center center no-repeat;
     background-size: cover;
     /*height: 500px;*/
     width: 100%;
 }

 .slider_top .slider_3{
     background: url("../../assets/img/home/slider-2-img.jpg") center center no-repeat;
     background-size: cover;
     /*height: 500px;*/
     width: 100%;
 }

 .slider_top .slider_4{
     background: url("../../assets/img/home/slider-3-img.jpg") center center no-repeat;
     background-size: cover;
     /*height: 500px;*/
     width: 100%;
 }

 .slider_top img.nav_icon{ 
    display: inline-block;
    height: 150px;
 }

 .navbar-light .navbar-toggler{
     background: white;
 }


 .estado{
     cursor: pointer;
 }

#tooltip_state{
    color: black;
    border: 1px solid black;
    top: 220px;
    left: 290px;
    display: inline-block;
    z-index: 99999999;
    position: fixed;
    background: white;
    display: none;
    font-size: 13px;
}

 #tooltip_state p{
    margin: 0;
    padding: 5px 15px 5px 15px;
    font-family: "silo_regular";
 }

 .alcance_proyectos .mapa_mexico{
     margin: 0 auto;
     max-width: 840px;
     width: 100% !important;
 }

.construccion{
    background: #0077dd;
    width: 100%;
    height: 100%;
    color: white;
}

.construccion .little_title{
    font-size: 65px;
    font-family: silo;
    margin: 0;
    line-height: 65px;
}

 .construccion .big_title{
     font-size: 65px;
     font-family: silo;
     margin: 0;
     line-height: 65px;
 }

 .construccion .extra_little_title{
     font-size: 23px;
     font-family: silo;
     margin: 0;
     line-height: 23px;
     margin-top: 5px;
 }


 .construccion a{
     font-size: 23px;
     font-family: silo;
     margin: 0;
     line-height: 23px;
     text-decoration: underline !important;
     cursor: pointer;
 }

 /*CHAT*/ 

/*.five9-frame .five9-text {
    width: 60%;
    margin-left: 35px;
}*/


.fill-logo {
    background: #0077dd !important;
}

.five9-frame .five9-frame-full {
    position: fixed;
    bottom: 0;
    height: 0;
    background: none;
    margin: 0;
    padding: 0;
    right: 15px;
 }

 .five9-frame {
    z-index: 9999 !important;
    right: 15px !important;
 }

 .five9-chat-button {
    /*width: 100%;*/
     background: linear-gradient(#0077dd, #0077dd) !important;
     padding: 10px 12px 0 10px !important;
 }



@media only screen and (min-width: 781px) {
    .five9-chat-button {
        width: 100%;
    }

    #five9-minimize-button .five9-text {
        width: 60%;
        margin-left: 35px;
    }
    
}

 @media only screen and (max-width: 780px) and (min-width: 415px) {
    /*.five9-chat-button {
        width: 100%;
    }*/
     .section_types .bg-1, .section_types .bg-2, .section_types .bg-3{
         min-height: 300px;
     }
     .section_types .section_on{
         height: 300px;
     }
     .section_types .section_off .title_off{
         font-size: 38px;
     }
     .section_types .section_on{
         padding-top: 20px !important;
     }
     .section_types .section_on .description{
         font-size: 20px;
     }
     .alcance_proyectos .total_proyectos {
         width: 100px;
         line-height: 90px;
         font-size: 18px;
     }
     footer .redes_sociales{
         display: inline-block;
         margin: 24px 0 0px 0;
         padding: 5px 0;
     }
     .blue_slogan .content{
         padding: 60px 0;
     }
     .info_types .bg-info-1, .info_types .bg-info-2, .info_types .bg-info-3, .info_types .bg-info-4{
         display: none;
     }

     .info_types .bg-info-1-smarthphone {
         background: url(../img/nosotros/1.jpg) center center no-repeat;
         background-size: cover;
     }

     .info_types .bg-info-2-smarthphone {
         background: url(../img/nosotros/2.jpg) center center no-repeat;
         background-size: cover;
     }

     .info_types .bg-info-3-smarthphone {
         background: url(../img/nosotros/3.jpg) center center no-repeat;
         background-size: cover;
     }

     .info_types .bg-info-4-smarthphone {
         background: url(../img/nosotros/4.jpg) center center no-repeat;
         background-size: cover;
     }
     .info_types h2{
         color: white;
     }

     .socios_estrategicos .bg-image-1, .socios_estrategicos .bg-image-2, .socios_estrategicos .bg-image-3, .socios_estrategicos .bg-image-4, .socios_estrategicos .bg-image-5{
         width: 60%;
         padding-bottom: 60%;
     }
     .content_section_proyect{
         padding-bottom: 50px;
     }
     .soluciones_corporativas_planes .section_square {
         border-right: 2px solid transparent;
         min-height: auto;
         padding-bottom: 40px;
     }
     .soluciones_corporativas_planes .dumb_rectangle{
         margin-bottom: 0px;
     }
     .conoce_planes .min-height-150 div {
         min-height: 0px;
         padding-top: 0px;
         padding-bottom: 20px;
     }
     .conoce_planes .min-height-150 .b-right-blue{
         border-right: 2px solid transparent;
     }
     .conoce_planes {
         padding: 40px 0 40px 0;
     }
     .top_header_interior {
         padding: 80px 0;
     }
 }


 @media only screen and (max-width: 414px) {
     .section-top-video .title{
         font-size: 55px;
     }
     .section-top-video .subtitle {
         font-size: 27px;
         line-height: 27px !important;
     }
     .que_es_talisis .play_video{
         background: #333333d1;
     }
     .que_es_talisis .play_button{
         margin: 20px auto 50px auto;
     }
     .que_es_talisis .content_section{
         padding: 90px 0 20px 0;
     }
     .section_types .bg-1, .section_types .bg-2, .section_types .bg-3{
         min-height: 350px;
     }
     .section_types .section_on{
         height: 350px;
     }
     .section_types .section_on{
         padding-top: 10px !important;
     }
     .section_types .section_off .title_off{
         font-size: 32px;
     }
     footer .redes_sociales{
         display: inline-block;
         margin: 24px 0 0px 0;
         padding: 5px 0;
     }
     .crecimiento_empresa .servicio_colaboradores img {
         max-width: 150px;
     }
     .blue_slogan .content{
         padding: 50px 0;
     }
     .info_types .bg-info-1, .info_types .bg-info-2, .info_types .bg-info-3, .info_types .bg-info-4{
         display: none;
     }

     .info_types .bg-info-1-smarthphone {
         background: url(../img/nosotros/1.jpg) center center no-repeat;
         background-size: cover;
     }

     .info_types .bg-info-2-smarthphone {
         background: url(../img/nosotros/2.jpg) center center no-repeat;
         background-size: cover;
     }

     .info_types .bg-info-3-smarthphone {
         background: url(../img/nosotros/3.jpg) center center no-repeat;
         background-size: cover;
     }

     .info_types .bg-info-4-smarthphone {
         background: url(../img/nosotros/4.jpg) center center no-repeat;
         background-size: cover;
     }
     .info_types h2{
         color: white;
     }
     .socios_estrategicos .bg-image-1, .socios_estrategicos .bg-image-2, .socios_estrategicos .bg-image-3, .socios_estrategicos .bg-image-4, .socios_estrategicos .bg-image-5{
         width: 60%;
         padding-bottom: 60%;
     }
     .content_section_proyect{
         padding-bottom: 50px;
     }
     .soluciones_corporativas_planes .section_square {
         border-right: 2px solid transparent;
         min-height: auto;
         padding-bottom: 40px;
     }
     .soluciones_corporativas_planes .dumb_rectangle{
         margin-bottom: 0px;
     }
     .conoce_planes .min-height-150 div {
         min-height: 0px;
         padding-top: 0px;
         padding-bottom: 20px;
     }
     .conoce_planes .min-height-150 .b-right-blue{
         border-right: 2px solid transparent;
     }
     .conoce_planes {
         padding: 40px 0 40px 0;
     }
     .top_header_interior {
         padding: 80px 0;
     }
 }


